$full-width: 610px;
$background-color: #cff;
$link-color: #09c;
$visited-link-color: #069;

#container {
  width: $full-width;
  // to center the content...
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  background: white;
  border: solid 2px #ccc;
}

#posts_list {
  margin-top: 20px;
  padding: 5px;
  background: #ffc;
}

textarea {
  width: 390px;
  height: 100px;
  padding: 5px;
}

body {
  background: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $visited-link-color;
    text-decoration: underline;
  }

  &:visited {
    color: $visited-link-color;
  }
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
